.header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header_logo {
  display: flex;
  flex-direction: column;

  line-height: 0.8;
  color: #1e415e;
}

.header_logo-weather {
  font-size: 13px;
}

.header_logo-now {
  font-size: 30px;
  font-weight: 700;
}

.form {
  display: flex;
}

.form_query {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border: 1px solid #c0c0c0;
  border-radius: 7px 0 0 7px;
}

.form_button {
  padding: 5px;
  border-top: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  border-left: none;
  border-radius: 0 7px 7px 0;
}

.form_button-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 19px;
  height: 18px;
  fill: #616161;
}

.header_city-list {
  display: flex;
  gap: 10px;

  font-size: 12px;
  color: #cfcfcf;
}

.header_city-item {
  line-height: 1.8;
}

.header_city-button {
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #9d9d9d;
}

.header_button {
  font-size: 20px;
  font-weight: 500;

  width: 30px;
  height: 30px;
  border: 1px solid #c0c0c0;
  border-radius: 7px;
}
