<header class="header">
  <div class="header_container container">
    <a class="header_logo" href="#">The Weather Now</a>

    <div>
      <form class="header_form form">
        <input
          class="form_query"
          type="text"
          name="query"
          placeholder="Location"
          required
        />
        <button class="form_button" type="submit">Show weather</button>
      </form>

      <ul class="header_city-list"></ul>
    </div>

    <button class="header_button" type="button"></button>
  </div>
</header>
