<article class="page_day day">
  <div class="container day_container">
    <h1 class="visually-hidden">The Weather Forecast</h1>

    <div class="day_wrap">
      <div class="day_location-wrap">
        <h2 class="day_location">Location</h2>
        <p class="day_date">Monday, May 23</p>
        <div class="day_weather">
          <p class="day_wind">
            Wind: <span class="day_wind-count">3</span>km/h
          </p>
          <p class="day_rain">Rain: <span class="day_rain-count">78</span>%</p>
        </div>
      </div>

      <div class="day_temperature-wrap">
        <p class="day_today">Today</p>
        <!-- <img class="day_img" src="#" alt="" width="50" /> -->
        <p class="day_cloud">Cloud</p>
        <span class="day_temperature">23 &#8451;</span>
        <div class="day_all-temprature">
          <span class="day_temperature-hight">23 &#8451;</span> -
          <span class="day_temperature-day">31 &#8451;</span>
        </div>
      </div>
    </div>
  </div>
</article>
